@import "tailwindcss";
@plugin "daisyui" {
    root: ":root";
    themes: light, dark, cupcake, bumblebee, emerald, corporate --default, synthwave, retro,
    garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk,
    autumn, business, acid, lemonade, night, coffee, winter, dim --prefersdark, nord, sunset, abyss, silk;
}

@font-face {
    font-family: 'uafsans-regular';
    src: url('/assets/uafsans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'uafsans-medium';
    src: url('/assets/uafsans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'uafsans-semibold';
    src: url('/assets/uafsans-semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'uafsans-bold';
    src: url('/assets/uafsans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html, body {
        @apply h-full w-full overflow-hidden select-none antialiased forced-color-adjust-none touch-manipulation;
        @apply print:overflow-y-auto print:h-auto print:forced-color-adjust-auto;
        font-family: uafsans-regular, ui-sans-serif, system-ui, sans-serif;
    }

    .regular {
        @apply font-[uafsans-regular];
    }
    .medium {
        @apply font-[uafsans-medium];
    }
    .semibold {
        @apply font-[uafsans-semibold];
    }
    .bold {
        @apply font-[uafsans-bold];
    }
    
    .flex-fixed {
        @apply flex flex-1 flex-col min-h-0;
    }
    
    .flex-scrollable {
        @apply flex flex-1 flex-col min-h-0 overflow-y-auto;
    }

    .tickets-grid {
        @apply grid grid-cols-5 gap-0 overflow-auto p-5 print:px-1 bg-white overflow-y-auto;
    }
    .ticket {
        @apply flex flex-1 flex-col text-center p-2 outline-dotted outline-1 outline-offset-[-1px] outline-neutral-400;
        @apply break-inside-avoid;
    }
    .ticket .rank {
        @apply text-sm text-neutral-600;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23374151" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>');
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    .print-controls {
        @apply hidden;
    }
}

@media print and (orientation: landscape) {
    .tickets-grid {
        @apply grid grid-cols-6 gap-0 overflow-hidden;
    }
}

@media print and (orientation: portrait) {
    .tickets-grid {
        @apply grid grid-cols-4 gap-0 overflow-hidden;
    }
}

@source "./maes/src/**/*.{rs,html,css}, ./core/src/**/*.{rs,html,css}";
