/.idea/
/.venv/
/target/
/node_modules/
/Cargo.lock
/package-lock.json
/.env
/aide/gen/schemas/

/maes/assets/main.bundle.js
/maes/assets/main.bundle.js.LICENSE.txt
/maes/assets/tailwind.css
/client/assets/tailwind.css

#AI models and Libraries
/maes/assets/ai-model/
/maes/assets/libs/
