[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true

[config]
default_to_workspace = false

[tasks.build]
disabled = true

[tasks.test]
disabled = true

[tasks.dioxus-cli]
script_runner = "@shell"
script= '''
cargo install --git https://github.com/DioxusLabs/dioxus dioxus-cli
'''

[tasks.delete-artifacts]
script_runner = "@shell"
script= '''
npm run clean:dx
'''

[tasks.aide_ui-css]
script_runner = "@shell"
script= '''
npx @tailwindcss/cli -i ./aide_ui/tailwind.css -o ./aide_ui/assets/tailwind.css
'''

[tasks.aide_ui-dev]
dependencies = ["aide_ui-css"]
script_runner = "@shell"
script= '''
dx serve --package aide_ui --port 3321
'''

[tasks.aide_ui]
dependencies = ["aide_ui-css"]
script_runner = "@shell"
script= '''
dx bundle --release --package aide_ui
'''

[tasks.app-js]
script_runner = "@shell"
script= '''
npm run build:js
'''

[tasks.app-css]
script_runner = "@shell"
script= '''
npx @tailwindcss/cli -i ./maes/tailwind.css -o ./maes/assets/tailwind.css
'''

[tasks.app-css-watch]
script_runner = "@shell"
script= '''
npx @tailwindcss/cli -i ./maes/tailwind.css -o ./maes/assets/tailwind.css --watch
'''

[tasks.client-css]
script_runner = "@shell"
script= '''
npx @tailwindcss/cli -i ./client/tailwind.css -o ./client/assets/tailwind.css
'''

[tasks.client-css-watch]
script_runner = "@shell"
script= '''
npx @tailwindcss/cli -i ./client/tailwind.css -o ./client/assets/tailwind.css --watch
'''

[tasks.app-dev]
dependencies = ["app-js", "app-css"]
script_runner = "@shell"
script= '''
dx serve --package maes --watch false --hot-reload false
'''

[tasks.app-dev-watch]
dependencies = ["app-css"]
script_runner = "@shell"
script= '''
dx serve --package maes
'''

[tasks.app-bundle]
dependencies = ["delete-artifacts", "client", "app-js", "app-css"]
script_runner = "@shell"
script= '''
xcopy /S /Y /I "target/dx/client/release/web/public" "target/dx/client/release/bundle/client"
dx bundle --release --package maes
'''

[tasks.client-dev]
dependencies = ["client-css"]
script_runner = "@shell"
script= '''
dx bundle --release --package client --target wasm32-unknown-unknown
'''

[tasks.client]
dependencies = ["client-css"]
script_runner = "@shell"
script= '''
dx bundle --release --package client --target wasm32-unknown-unknown
'''